<div *ngIf="!existStatus"><h4>No Users Found!</h4></div>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
  
  
   
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
  
   <!-- Name Column -->
   <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
  </ng-container>
    <!-- Progress Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.phone}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.block_status=='false' && row.delete_status=='false'"> Active User</div>
          <div *ngIf="row.block_status=='true' && row.delete_status=='false'"> Block User</div>
          <div *ngIf=" row.delete_status=='true' "> Delete User</div>
      
          
        </mat-cell>
      </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
      <mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button *ngIf="row.delete_status=='false'" (click)="deleteUser(row._id)" mat-menu-item >
               
                <span>Delete</span>
              </button>
              <button *ngIf="row.delete_status=='true' " mat-menu-item disabled>
                  
                  <span>deleted</span>
                </button>
              <button *ngIf="row.block_status=='false' && row.delete_status=='false'" (click)="blockUser(row._id)" mat-menu-item>
                
                <span>Block</span>
              </button>
              <button  *ngIf="row.block_status=='true' && row.delete_status=='false'" (click)="unblockUser(row._id)" mat-menu-item>
                
                <span>Unblock</span>
              </button>
            </mat-menu>
           <!-- <div class="btn-group">
              
               <span class="sr-only">Toggle Dropdown</span>
             </button>
             <ul class="dropdown-menu" role="menu">
  
               <li *ngIf="row.delete_status=='false'"><a  (click)="deleteUser(row.action)">Delete</a></li>
               <li *ngIf="row.delete_status=='true'"><a >Deleted</a></li>
               <li *ngIf="row.block_status=='false' && row.delete_status=='false'"><a  (click)="blockUser(row._id)">Block</a></li>
               <li *ngIf="row.block_status=='true' && row.delete_status=='false'"><a  (click)="unblockUser(row._id)">Unblock</a></li>
               
             </ul>
           </div> -->
        </mat-cell>
    </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
