<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" routerLink="/">
      <i class="fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text">Dashboard</span>
    </a>
  </li>
 
  
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
      <i class="fa fa-users"></i>
      <span class="nav-link-text">Users Management</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseComponents">
      <li>
        <a routerLink="/AllUsers">All Users</a>
      </li>
      <li>
        <a routerLink="/DisabledUsers">Disabled Users</a>
      </li>
      <li>
        <a routerLink="/DeletedUser">Deleted Users</a>
      </li>
    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
      <i class="fa fa-product-hunt"></i>
      <span class="nav-link-text">Product Management</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseExamplePages">
      <li>
        <a routerLink="/allusers">Add Product</a>
      </li>
      <li>
        <a routerLink="/allusers">Manage Product</a>
      </li>
      
      
    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
      <i class="fa fa-snowflake-o"></i>
      <span class="nav-link-text">Auction</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseMulti">
      <li>
        <a href="#">Running Auction</a>
      </li>
      <li>
        <a href="#">Upcoming Auction</a>
      </li>
      <li>
        <a href="#">Closed Auction</a>
      </li>
     
    </ul>
  </li>
 
</ul>
<!--<ul class="navbar-nav sidenav-toggler">
  <li class="nav-item">
    <a class="nav-link text-center" id="sidenavToggler">
      <i class="fa fa-fw fa-angle-left"></i>
    </a>
  </li>
</ul>-->