

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    <top-bar></top-bar>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a routerLink="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
           
            <li>
                    <a routerLink="/users-sub"><i class="fa fa-users"></i> Users</a>
                <!-- <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Users <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a routerLink="/all-users">All Users</a>
                    </li>
                    <li>
                        <a routerLink="/disabled-users">Disabled Users</a>
                    </li>
                    <li>
                        <a routerLink="/deleted-users">Deleted Users</a>
                    </li>
                </ul> -->
            </li>
            <li *ngIf="userService.loggedIn()">
                <a  routerLink="/product-list" data-toggle="collapse" data-target="#demo1"><i class="fa fa-product-hunt"></i> Manage Product</a> 
                <ul id="demo1" class="collapse">
                    <!-- <li *ngIf="userService.loggedIn()">
                        <a href="/product">Add Product</a>
                    </li> -->
                    <!-- <li *ngIf="userService.loggedIn()">
                        <a routerLink="/product-list">Manage Product</a>
                    </li> -->
                </ul>
            </li>
            <li>
                <a routerLink="/auctions" ><i class="fa fa-fw fa-arrows-v"></i> Auctions </a>
                <!-- <ul id="demo3" class="collapse">
                    <li>
                        <a routerLink="/running-auction">Running Auction</a>
                    </li>
                    <li>
                        <a routerLink="/upcoming-auction"> Upcoming Auction</a>
                    </li>
                    <li>
                        <a routerLink="/closed-auction">closed Product</a>
                    </li>
                </ul> -->
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
