table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left:50px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.btn{
    background-color:grey;
    border: 1px solid;
    color:white;
}
