
    <div class="col-md-9 shadow">
      <h3 class="hdng" >Edit  a Product</h3>
      <br>
      <form class="well">
          <!-- <div class="form-group" >
              <label > Name *</label>
              <input type="text"  name="name"  [(ngModel)]="pro.name" class="form-control" required  />
          </div> -->

          <div class="form-group" >
                <label > Name *</label>
                <input id="name" name="name" class="form-control"
                required 
                [(ngModel)]="pro.name" #name="ngModel" >
         
         <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger">
         
           <div *ngIf="name.errors.required">
             Name is required.
           </div>
        
         
         </div>
             
            </div>

          <div class="form-group" >
              <label > Bid Amount *</label>
              <input id="bid_amount" name="bid_amount" class="form-control"
              required 
              [(ngModel)]="pro.bid_amount" #bid_amount="ngModel" (keypress)="_keyPress($event)" >
       
            <div *ngIf="bid_amount.invalid && (bid_amount.dirty || bid_amount.touched)"
            class="alert alert-danger">
       
         <div *ngIf="bid_amount.errors.required">
          Amount is Required
         </div>
      
       
       </div>
           
          </div>
       

          <div class="form-group" >
                <label > Minimum Bid rate *</label>
                <input id="min_bid_rate" name="min_bid_rate" class="form-control"
                required 
                [(ngModel)]="pro.min_bid_rate" #min_bid_rate="ngModel" (keypress)="_keyPress($event)" >
         
              <div *ngIf="min_bid_rate.invalid && (min_bid_rate.dirty || min_bid_rate.touched)"
              class="alert alert-danger">
         
           <div *ngIf="min_bid_rate.errors.required">
            Minimum Bid rate is Required
           </div>
        
         
         </div>
             
            </div>

           <div class="form-group" >
                  <label > Bid Start time </label>
                  <datetime name="start_date" [(ngModel)]="pro.start_date"  ></datetime>
              </div>
              <div class="form-group" >
                      <label> Bid End time </label>
                      <datetime name = "end_date"  [(ngModel)]="pro.end_date"></datetime>
                  </div>

          

           <!-- <image-upload name="image"  [(ngModel)]="newproduct.image"
          [style]="'customStyle'" 
          [class]="'prev-img'" 
          [max]="100"
          
          [headers]="{Authorization: 'MyToken'}"
          [buttonCaption]="'Select Images!'"
          [dropBoxMessage]="'Drop Product images here!'"
          [extensions]="['jpg','png','gif']"
       
          (removed)="onRemoved($event)"
          (uploadFinished)="onUploadFinished($event)"
          (uploadStateChanged)="onUploadStateChanged($event)"></image-upload>  -->
          <!-- <div>
              <label > Image</label>
              <input type="file"  name="pollqtn"   required />
          </div> -->
         
         
          <!-- <img class="mythumbnail" ng-src="{{ thumbnail.dataUrl || default }}"> -->
          <!-- <img ng-src= "{{ thumbnail.dataUrl || 'https://www.camboexpo.com/ctg/images/default.jpg' }}"> -->
          
          <!-- <label class="btn btn-success colorbtn"> Browse</label> -->
          
        

          <div class="form-group" >
              <label > Description</label>
              <br>
              <textarea rows="4" cols="70" name="desc" [(ngModel)]="pro.desc" ></textarea>
          </div>
          <button type= "button" class="btn btn-primary"   (click)="updateProduct()">Update</button>
          <!-- <input type="button" class="btn btn-primary" (click)="updateProduct()" class="updatepro" value="Udate"  > -->
          <!-- <input type="button" (click)="deleteProduct()" class="updatepro" value="Delete"  > -->
          <button type= "button" class="btn btn-primary"  (click)="clickMethod('name')">Delete</button>
          
         
      </form>

    </div>
   