<app-navigation></app-navigation>
<div class="container">
        <div id="m-auction" class="auction-section">
            <h4 class="page-head">My Auctions</h4>
            <div *ngIf="existStatus; else noProduct">
                <div *ngFor="let item of products">
                    <!-- {{item}} -->
                    <app-card [item]="item"></app-card>
                </div>
            </div>
           
            <ng-template #noProduct>
                <div class="no-item">
                    <h4>Sorrry! No items to display!</h4>
                </div>
            </ng-template>
          
      </div>