<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
  
  
      <!-- Progress Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <a href ="/product-detail/{{row.id}}" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="auto" title="Edit"><i class="fa fa-pencil"></i></a>
          <a href="#" class="btn btn-primary btn-xs" data-target="#myModal1" data-toggle="modal" ><i class="fa fa-trash-o"></i></a>
          <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <!-- <div class="modal-header"> -->
                  <!-- <h4 class="modal-title">Are you sure to delete?</h4> -->
                <!-- </div> -->
                <div class="modal-body">
                    <h4 class="modal-title">Are you sure to delete?</h4>
                
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" (click)="deleteProduct(row.id)" class="btn btn-default" data-dismiss="modal">Delete</button>
                </div>
              </div>
          
            </div>
          </div>
          
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.desc}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="enddate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.end_date | date: 'dd-MM-yyyy h:mm a'}}</mat-cell>
        
      </ng-container>
      <ng-container matColumnDef="startdate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.start_date | date: 'dd-MM-yyyy h:mm a'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="rate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Minimum Bid rate </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.min_bid_rate}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Bid Amount </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.bid_amount}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
        <mat-cell *matCellDef="let row"><img class="proimg" src="assets/uploads/{{row.image}}" alt="" ></mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
  
  
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
  