<body>
    
        <div id="wrapper">
    
            <!-- Navigation -->
<side-bar></side-bar>
    
            <div id="page-wrapper">
    
                <div class="container-fluid">
    
                    <!-- Page Heading -->
                   <header-title [title]="'Add Product'"></header-title>
                    <!-- /.row -->
    
                </div>
                <!-- /.container-fluid -->

<div class="wrapper">
        <div class="col-md-9 addpro">
                <!--<h3 class="headng" >Add a Product</h3>-->
                <br>
  
  <!-- <form class="well" role="form"   #f="ngForm" (ngSubmit)="f.form.valid && addProduct()" novalidate> -->
        <form class="well" role="form"  #f="ngForm" (ngSubmit)="f.form.valid && addProduct();" novalidate>
      <!-- <form #form='ngForm' (ngSubmit)="addProduct()" class="well" > -->
            <div class="form-group" >
                <label > Name *</label>
                <input id="name" name="name" class="form-control"
                required  autofocus
                [(ngModel)]="newproduct.name" #name="ngModel" >
                <div *ngIf="f.submitted && !name.valid "  class="alert alert-danger"> ! Name is required</div>
             
            </div>
        
            <div class="form-group" >
                    <label >  Bid Amount *</label>
                    <input id="bid_amount" name="bid_amount" class="form-control"
                    required  
                    [(ngModel)]="newproduct.bid_amount" #bid_amount="ngModel" (keypress)="_keyPress($event)">
                    <div *ngIf="f.submitted && !bid_amount.valid"  class="alert alert-danger"> ! Amount is required</div>
           
                </div>

                <div class="form-group" >
                        <label >  Minimum Bid Rate *</label>
                        <input id="min_bid_rate" name="min_bid_rate" class="form-control"
                        required  
                        [(ngModel)]="newproduct.min_bid_rate" #min_bid_rate="ngModel" (keypress)="_keyPress($event)">
                        <div *ngIf="f.submitted && !min_bid_rate.valid"  class="alert alert-danger"> ! Minimum Bid rate is required</div>
               
                    </div>
        
             <div class="form-group" >
                    <label > Bid Start time </label>
                    <datetime name="start_date" [(ngModel)]="newproduct.start_date" ></datetime>
                </div>
                <div class="form-group" >
                        <label > Bid End time </label>
                        <datetime name = "end_date"  [(ngModel)]="newproduct.end_date"></datetime>
                    </div>

            
                    <!-- <image-upload></image-upload> -->
            <!-- <div>
                <label > Image</label>
                <input type="file"  name="pollqtn"   required />
            </div> -->
           
           
            <!-- <img class="mythumbnail" ng-src="{{ thumbnail.dataUrl || default }}"> -->
            <!-- <img ng-src= "{{ thumbnail.dataUrl || 'https://www.camboexpo.com/ctg/images/default.jpg' }}"> -->
            
            <!-- <label class="btn btn-success colorbtn"> Browse</label> -->
            
            <!-- <input type="file" name ="myfile" ng-disabled="uploading" style="display: none"> -->

            <div class="form-group" >
                <label > Description</label>
                <br>
                <textarea rows="4" cols="70" name="desc" [(ngModel)]="newproduct.desc" ></textarea>
            </div>
            <div class="form-group">
                <label for="single">Select Image</label>
                <input type="file" class="" name="single" ng2FileSelect [uploader]="uploader"  />                                  
             </div>
              
                
            <!-- <input type="submit" class="btn btn-info blakbtn" value="Submit"  > -->
            <button type= "submit" class="btn btn-primary">Submit</button>
           
        </form>
  
      </div>
     
    </div>

   
</div>
<!-- /#page-wrapper -->

           
</div>

<!-- <footer></footer>  -->
  
</body>