<div [hidden]="isTimeOver" class="col-xs-6 col-sm-6 col-md-4 col-lg-4" >
    <div class="tg-ad tg-verifiedad">
        <figure>
            <a href="javascript:void(0);"><img src="assets/uploads/{{product.image||'default.png'}}" alt="{{product.name}}"></a>
        </figure>
        <div class="tg-adcontent">
            
            <div class="tg-adtitle">
                <h3><a href="javascript:void(0);">{{product.name}}</a></h3>
            </div>
            <div class="clearfix"></div>
            <div class="tg-desc">
                <p class="group inner list-group-item-text" style="min-height: 50px;">
                    <read-more [text]="product.desc" [maxLength]="80"></read-more>
                  </p>
            </div>
            
            <div class="row text-center ">
            <div class="col-xs-12 col-md-6">
                Last Bid Price
                <p class="lead"> {{product.lastBidprice | number:'1.2-2'}}</p>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-1">
               Ends In
                <p class="lead">
                    <app-count-down-timer (onTimeOver)="timeOver()"  [inputDate]="product.end_date"></app-count-down-timer>
                </p>
            </div>
        </div>
            <div class="row text-center ">

            <div class="col-xs-12 col-md-12 margn form-group " [ngClass]="{'has-error': isError}">
                    <div *ngIf="isError" class="text-danger text-left">
                           {{msg}}
                      </div>
                <input [disabled]="btnDisbled" value="{{formatedAmount | number:'1.2-2'}}" [(ngModel)]="amount" (keyup)="validateAmount()"  class="form-control " type="text" placeholder="Minimum bid amount {{(product.lastBidprice  * 1 ) + product.min_bid_rate | number:'1.2-2'}}">
                
            </div>
           
        </div>
            
  
        </div>
        <div *ngIf="isSuccess" class="text-success text-left">
            {{msg}}
       </div>
        <button [disabled]="btnDisbled" (click)="bidbtnClicked()" class="btn {{btnClass}} tg-adprice"> {{btnLabel}}</button>
    </div>
</div>