body {
    padding-top: 15px;
    font-size: 12px;
    background-color: #f3f3f3 !important;
  }
  .main {
    max-width: 420px;
    margin: 0 auto;
    padding: 27px 43px;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    margin-top: 8%;
    background: #fff;
    box-shadow: 10px 28px 29px #e8e8e8;
  }

  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h3 {
    text-align: center;
    line-height: 300%;
  }