
        <div *ngIf="products?.length > 0" id="products" class="row list-group">

           
                        <div class="col-md-9 col-xs-9 brdr">
                                <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-md-4 col-xs-4">
                                                    <label>Start Date</label>
                                                  </div>
                                                    <div class="col-md-8 col-xs-8">
            
                                                    <input type="text" class="form-control" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedStartDate($event, daterange)" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                                <div class="row">
                                                        <div class="col-md-4 col-xs-4">
                                                            <label>End Date</label>
                                                          </div>
                                                          <div class="col-md-8 col-xs-8">
                                                            <input type="text"  class="form-control" name="daterangeInput" daterangepicker [options]="optionsEnd" (selected)="selectedEndDate($event, daterange)" />
                                                        </div>
                                                    </div>
                                            
                                        </div>
                                        
                                </div>   
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="clearfix"></div> 

            <div  *ngFor="let product of  (products | dateSearch:startFrom:startUpto:endFrom:endUpto)" class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    
                    <!-- <img class="group list-group-image" src="http://placehold.it/400x250/ccc/fff" alt="" /> -->
                    <img  class="group list-group-image" src="assets/uploads/{{product.image||'default.png'}}" alt="{{product.name}}" />
               
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading text-center">
                            {{product.name}}</h4>
                            <hr>
                            <p class="group inner list-group-item-text" style="min-height: 60px;">
                            <read-more [text]="product.desc" [maxLength]="80"></read-more>
                          </p>
                        <hr>
                        <div class="row text-center">
                            <div class="col-xs-12 col-md-6">
                                Bid Start Price
                                <p class="lead">{{product.bid_amount | number:'1.2-2'}}</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                Last Bid Price
                                
                                <p *ngIf="product.bidders.length > 0" class="lead">{{product.lastBidprice | number:'1.2-2'}}</p>
                                <p *ngIf="product.bidders.length == 0 " class="alert-danger lead">No bid</p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-xs-12 col-md-6">
                                Bid Started On<br>
                                <b>
                                  {{product.start_date | date: 'dd-MM-yyyy'}}
                                  <br>
                                  {{product.start_date | date : 'mediumTime'}}
                                </b>
                            </div>
                             <div class="col-xs-12 col-md-6">
                                Bid Ended On<br>
                                <b>
                                    {{product.end_date | date: 'dd-MM-yyyy'}}
                                    <br>
                                    {{product.end_date | date : 'mediumTime'}}
                                </b>
                            </div>
                        </div>
                        <hr>
                        <div class="row margn" >
                          
                          <div class="col-xs-12 col-md-12 text-center">
                             <a href="#" (click)="updateInvolved(product)" data-target="#myModal" data-toggle="modal" > Users Involved - {{product.user_details.length}}</a>
                             
                          </div>
                          <div id="myModal" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                            
                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">User Involved - {{involvedUsers.user_details.length}}</h4>
                                  </div>
                                  <div class="modal-body">
                                      <table class="table">
                                          <thead class="thead-inverse">
                                      <tr>
                                        <th>Slno</th>
                                        <th>Name</th>
                                        <th>Bid Amount</th>
                                        <th>Time</th>
                                        <th>Status</th>
                                      
                                      </tr>
                                    </thead>
                                    <tbody *ngIf="involvedUsers.bidders.length ==0">
                                        <tr >
                                              <td colspan="5" class="text-center">No User Involved</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="involvedUsers.bidders.length > 0" >
                                  
                                        <tr  *ngFor="let usr of involvedUsers.bidders;let i = index" >
                                              <td >{{i+1}}</td>
                                              <td >{{users[usr.user_id].name}}</td>
                                              <td >{{usr.amount | number:'1.2-2'}}</td>
                                              <td >{{usr.date_time | date: 'dd-MM-yyyy h:mm a'}}</td>
                                              <td >{{usr.bid_status}}</td>
                                        </tr>
                                    </tbody>
                                    </table>
                                  
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                            
                              </div>
                            </div>
                      </div>
                      
                        <div class="row">
                            
                            <div class="col-xs-12 col-md-12">
                                <div *ngIf="product.bidders.length > 0" class="alert alert-success text-center ">
                                  <div *ngIf="product.is_bid_completed">
                                      <div class="alert alert-success text-center ">
                                          Winner! 
                                          <br> <strong> {{product.lastBiduser}}</strong>
                                          <br>
                                          {{product.lastBidTime | date: 'dd-MM-yyyy h:mm a'}}
                                       </div> 
                                  </div>
                                  <div *ngIf="!product.is_bid_completed">
                                  <div class="alert alert-success text-center ">
                                    Last Bidder
                                    <br> <strong> {{product.lastBiduser}}</strong>
                                    <br>
                                    {{product.lastBidTime | date: 'dd-MM-yyyy h:mm a'}}
                                 </div> 
                                  </div>
                              </div>
                                <div *ngIf="product.bidders.length == 0" class="alert alert-danger text-center ">
                                    <div>
                                    <div class="alert alert-dangertext-center ">
                                    No bidder Found
                                    <br> <strong><a [routerLink]="['/product-detail/'+product._id]" class="alert-danger" >Re-submit</a></strong>
                                    <br>
                                    Bid closed : {{product.end_date | date: 'dd-MM-yyyy h:mm a'}}
                                </div>
                                </div>
                              </div>
                           
                        </div>
                    </div>
                </div>
            </div>
           
      
        </div>
        
  
        </div>
            
        <div *ngIf="products?.length == 0" class="row list-group">
            <h3 class="text-center"> No Product Found</h3>
        </div>
        
   
    
       