body{
    font: sans-serif;
    background: #E8E8E8;
}
header {
    position: relative;
    margin: 0;
    padding: 0 0 ;
    z-index: 11;
    /* background: #E8E8E8; */
    border-bottom: none;
}
header .box {
    background: #084da7;
    padding: 6px 0;
    text-align: left;
}
header .box .title1 {
    font-size: 25px ;
    color: #ffffff;
    margin: 0 9px 0 0;
    float: left;
}
header .box .title2 {
    font-size: 14px ;
    color: #888;
    margin: 10px 0 0 0;
    float: left;
}

header .btn-default.btn1 {
    margin: 0 0 0 6px;
    float: right;
}
.box .dropdown {
    float: right;
    clear: right;
    list-style: none;
}
.box .dropdown ul{
    padding: 0;
    background: #084DA7;
}
.box .dropdown ul li a{
    padding: 10px 20px;
    
}
.box .dropdown ul li:hover{
    background: #fff;
    
}
.box .dropdown ul li:hover a{
    color: #084DA7;
}
.navbar-toggle{
    margin-top: 25px;
}
a {
    color: #ffffff;
}
a:hover, a:focus {
    color: #FFD213;
}
.box .dropdown-menu{
    margin-top: 5px;
    border-radius: 0;
}
.box .dropdown li a{
    color: #ffd613;
}
.btn-default.btn1 {
    box-shadow: none;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    font-size: 17px ;
    font-weight: 600;
    background: #373737;
    border-radius: 7px;
    color: #ffffff;
    float: none;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}

header .btn-default.btn1 {
    margin: 0 0 0 6px;
    float: right;
}
.btn-default.btn1 {
    box-shadow: none;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 4px 15px;
    font-size: 17px ;
    font-weight: 600;
    background: #ffd613;
    border-radius: 4px;
    color: #ffffff;
    float: none;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-default.btn1:hover {
    color: #191919;
    background: #ffd613;
    text-decoration: none;
}
h1.navbar-brand_ {
    margin: 31px 0 0 0;
    padding: 0;
    float: left;
    height: auto;
    position: relative;
    z-index: 10;
}

h1.navbar-brand_ a {
    display: inline-block;
}
a {
    text-decoration: none;
    outline: none;
}

h1.navbar-brand_ a img {
    width: 100%;
}

nav.tm_navbar {
    border: none;
    padding: 0;
    margin: 62px 0 0 0;
    float: right;
    min-height: 0;
    background: none;
}

nav.tm_navbar li:first-child {
    margin: 0;
}
nav.tm_navbar li {
    position: relative;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    margin: 0 0 0 30px;
    float: left;
}

av.tm_navbar li.active > a {
    color: #191919;
    background: none !important;
}
nav.tm_navbar li a {
    padding: 0;
    font: 600 21px 'Raleway';
    color: #777;
    background: none;
    position: relative;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

nav.tm_navbar li.active > a::after {
    width: 100%;
}
nav.tm_navbar li a::after {
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 11px;
    width: 0;
    background: #ffd613;
    content: '';
    display: block;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

nav.tm_navbar li:hover > a {
    color: #191919;
    background: none !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-brand {
    float: left;
    height: auto;
    padding: 15px 14px;
    font-size: 18px;
    line-height: 20px;
    overflow: hidden;
    color: #ffffff;
}
.navbar-brand img{
    width:48%;
}
.navbar-nav > li > a {
    padding-top: 8px !important;
    padding-bottom: 4px !important;
    font-size: 18px;
    color: #ffffff;
    margin: 28px 0;
    padding: 10px 7px;
    cursor: pointer;
}
.navbar-nav > li {
    margin-left: 6px;
}
.navbar-default {
    /* background-color: #f8f8f8; */
    border: none;
    background: #2882F7;
}
.navbar-right .active a{
    border-bottom: 3px solid #ffffff;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: transparent !important;
}
.navbar {
    border-radius: 0 !important;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
default .navbar-toggle:hover {
    background-color: #AD1457;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #084da7;
}
.notify{
    width: 20px;
    height: 20px;
    background-color: #2882f7;
    text-align: center;
    font-size: 13px;
    border-radius: 50%;
    position: relative;
}
.notify-count{
    position: absolute;
    top: -5px;
    right: -7px;
    background: #DE2413;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    font-size: 10px;
    color: #ffffff;
}
.notify-cont{
    padding: 0 20px;
}
.noftify-pro-img{
    width: 50px;
    height: 50px;
    margin-top: 8px;
    border-radius: 50%;
}
.ovrflow-h{
    overflow: hidden;
}
.noftify-pro-h4{
    font-size: 14px;
}
#notify-menu{
    min-width: 250px;
    background: #E7E9EC;
    border: none;
}
#notify-menu li{
    border-bottom: 1px solid #ccc;
}

#notify-head-a{
    padding-top: 0;
    padding-bottom: 0;
}
#notify-menu h4, #notify-menu p{
    color: #2882f7;
}
#won-head{
    margin-top: 4px;
    margin-bottom: 4px;
}
#nitify-li{
    list-style: none;
}
@media only screen and (max-width: 500px) {
    .navbar-brand {
        width:78%;
    }
}