<header>
  
  <div class="fluid-container">
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="box">
            <div class="container">
                <div class="row">
                     <!-- <div class="col-lg-8 col-md-8">
                        <p class="title1">Free phone: <strong>800-2345-6789</strong></p>
                        <p class="title2">Hours:  8am-8pm PST M-Th;   6am-3pm PST Fri</p>
                    </div> -->
                    

                    <div class="pull-right">
                        <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          
                          <li><a [routerLink]="['/myauctions']">My Bids</a></li>
                          <li><a (click)="logout()" href="#">Log Out</a></li>
                          
                        </ul>
                      </li>
                        <!-- <a href="#" class="btn-default btn1">Sign In</a> -->
                    </div>

                    <div class="pull-right notify-cont">

                        <li *ngIf="count" class="dropdown notify" >
                          <div class="notify-count">1</div>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu" id="notify-menu">
                          
                          <li>
                            <a [routerLink]="['/winnerconfirm/'+details?._id]" class="ovrflow-h" id="notify-head-a">
                             <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-12">
                                    <h4 id="won-head">You Won a Bid!</h4>
                                  </div>
                                    <div class="col-md-3">
                                      <div class="row">
                                          <img  class="noftify-pro-img" src="../../assets/uploads/pro.jpg" alt="pro"></div>
                                      </div>
                                      
                                    <div class="col-md-9">
                                          <h4 class="noftify-pro-h4">{{details?.name}}</h4>
                                          <!-- <p>Amount: $1000</p> -->
                                      
                                    </div>
                                </div>
                                  
                              </div>
                              
                              
                            </a>
                          </li>
                    
                          <!-- <li><a (click)="logout()" href="#">Log Out</a></li> -->
                          
                        </ul>
                      </li>
                        <!-- <a href="#" class="btn-default btn1">Sign In</a> -->
                    </div>
                </div>
            </div>
        </div> 
      <div class="container">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']"><img src="../../assets/images/brand.png" alt="brand"></a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
           
            <ul class="nav navbar-nav navbar-right">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a  [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a></li>
                <!-- <li class="dropdown" >
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Polls</a></li>
                    <li><a href="#">Asign Poll</a></li>
                    
                  </ul>
                </li> -->
                
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/runningauction']" >Running Auctions</a></li>
                    <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/registration']">Registration</a></li> -->
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/finishedauction']" >Closed Auctions</a></li>
                    <!-- <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/register']">Register</a></li> -->
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/upcomingauction']" >Upcoming Auctions</a></li>
                
                
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </div>
    </nav>
  
    
</div>
</header>