<div class="container" style="padding-top:20px;">

  <div *ngIf="products?.length > 0" id="products" class="row list-group">
      <div  *ngFor="let product of products;let i = index;" class="item  col-xs-4 col-lg-4">
          <div class="thumbnail">
              
              <img class="group list-group-image" src="http://placehold.it/400x250/ccc/fff" alt="" />
              <div class="caption">
                  <h4 class="group inner list-group-item-heading">
                      {{product.name}}</h4>
                  <p class="group inner list-group-item-text">{{product.desc}}</p>
                  <div class="row text-center">
                      <div class="col-xs-12 col-md-4 col-md-offset-1">
                          Basic Price
                          <p class="lead"> ${{product.bid_amount}}</p>
                      </div>
                      <div class="col-xs-12 col-md-4 col-md-offset-1">
                          Bid Price
                          <p class="lead"> $21.000</p>
                      </div>
                  </div>
                  <div class="row text-center">
                      <div class="col-xs-12 col-md-4 col-md-offset-1">
                          Started<br>
                          <b>21-12-2017 <br>12:35:00 AM</b>
                      </div>
                       <div class="col-xs-12 col-md-4 col-md-offset-1">
                          Ended<br>
                          <b>22-12-2017 <br>12:35:00 AM</b>
                      </div>
                  </div>
                  <div class="row">
                      
                      <div class="col-xs-12 col-md-12">
                          <div class="alert alert-success text-center margn">
                          <strong>Winner! </strong> Manu Prasad
                        </div>
                     
                  </div>
              </div>
          </div>
      </div>

  </div>

  <div *ngIf="products?.length == 0" id="products" class="row list-group">
    No Product Found
  </div>
  </div>
      
     